body{margin: 0px;
      padding: 0px;
      /*widows: 1590px;
      height: 794px;*/
}
#dv{ border:0px solid red ;
width: 300px;
height: 300px;
position: absolute;
  left: 40%;
  top: 31%;

}
.dva{
	border: 1px solid blue;
	width: 100px;
	height: 100px;
box-shadow:2px 2px  10px #666;
margin-left: auto;
margin-right: auto;
}
#dv1{border-bottom: 0px;
	background-color: #ff3659;
}
#dv2{position: absolute;
	border-right: none;
    background-color:#0066cc
	}
#dv3{position: absolute;
	right: -3px;
	top: 103px;
	border-left: none;
	background-color:#02f78e
}	
#dv4{border-bottom:0px;
     background: url("1.png") no-repeat -3px 0px;
 }
#dv5{background-color:#c4c400}